<li><a href="{{ site.selfhosting }}managelts.html" class="otherLinkColour">Manage LTS</a>
    <ul>
        {%- if page.url contains '/common/' -%}
        <li><a href="{{ site.common }}licenseitems.html" class="otherLinkColour">License Items</a></li>
        <li><a href="{{ site.common }}handshakecodes.html" class="otherLinkColour">Handshake Codes</a></li>
        <li><a href="{{ site.common }}statistics.html" class="otherLinkColour">Statistics</a></li>
        <li><a href="{{ site.common }}mechanism.html" class="otherLinkColour">Mechanism</a></li>
        {%- endif -%}
    </ul>
</li>