<li><a href="{{ site.selfhosted }}index.html" class="otherLinkColour">Self-hosted</a>
    <ul>
        <li><a href="{{ site.selfhosted }}DLSonwindows.html" class="otherLinkColour">Install DLS on Windows</a>
            <ul>
                <li><a href="{{ site.selfhosted }}configurereverseproxyusingiis.html" class="otherLinkColour">Configure
                        Reverse Proxy Using IIS</a>
                </li>
            </ul>
        </li>
        <li><a href="{{ site.selfhosted }}DLSonlinux.html" class="otherLinkColour">Install DLS on Linux</a>
            <ul>
                <li><a href="{{ site.selfhosted }}configurereverseproxyusingnginx.html"
                        class="otherLinkColour">Configure Reverse Proxy Using Nginx</a>
                </li>
            </ul>
        </li>
    </ul>
</li>