<li><a href="{{ site.selfhosting }}manageDLS.html" class="otherLinkColour">Manage DLS</a>
    <ul>
        <li><a href="{{ site.common }}licenseitems.html" class="otherLinkColour">License Items</a></li>
        <li><a href="{{ site.common }}handshakecodes.html" class="otherLinkColour">Handshake Codes</a></li>
        <li><a href="{{ site.common }}statistics.html" class="otherLinkColour">Statistics</a></li>
        <li><a href="{{ site.common }}mechanism.html" class="otherLinkColour">Mechanism</a></li>
        <li><a href="{{ site.common }}usagealerts.html" class="otherLinkColour">Usage Alerts</a></li>
    </ul>
</li>